[submodule "suvisdev"]
	path = suvisdev
	url = https://github.com/suvisdev/com.ragwatson.api.git
[submodule "vault"]
	path = vault
	url = https://github.com/suvisdev/com.ragwatson.docs.git
[submodule "suvis"]
	path = suvis
	url = https://github.com/suvisdev/cloud.suvisdev.www.git
